@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes carrossel {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  80% {
    margin-left: -300%;
  }
}

.alinhamento {
  @apply flex items-center;
}

.menu-open{
  left: 0;
}

.animação {
  animation-name: carrossel;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 767px) {
  .promoção .card-info {
    visibility: visible;
  }
}

.promoção:hover .card-info {
  visibility: visible;
}

.card-info h3,
h4 {
  text-shadow: rgba(0, 0, 0, 0.6) 0.3rem 0.2rem 0.3rem;
}

.card-product{
  transform: filter 5s;
  filter: grayscale(100%);
}

.card-product:hover{
  filter: grayscale(0%);
}

.footer-grid {
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.footer-info:nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/4;
}

.footer-info:nth-child(2) {
  grid-column: 5/9;
  grid-row: 1/6;
}

.footer-info:nth-child(3) {
  grid-column: 10/13;
  grid-row: 1/6;
}

.footer-info:nth-child(4) {
  grid-column: 14/16;
  grid-row: 1/1;
}

.footer-info:nth-child(5) {
  grid-column: 17/17;
  grid-row: 1/6;
}

input{
  outline: none;
}

input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

input[type=number]{
  -moz-appearance: textfield;
  appearance: textfield;
}

@media screen and (max-width: 767px){
  .descricao-carrinho{
    max-width: 40ch;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}